



*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.section1{
    width: 100%;
    background-color: darkslategray;
    height:70px;
    position: relative;
    .logo{
        width:fit-content;
        position: absolute;
        background-color:brown;
        padding:15px 15px 28px 15px;
        text-align: center;
        margin-left:37px;
        color:white;
        img{
            max-width:5em;
            filter:drop-shadow(2px 4px 6px black);
        }
    }
}

.name{
    padding:20px;
    position: relative;
    h1{
        letter-spacing: 1px;
        text-transform: capitalize;
        text-align: center;
    }
    .author{
        margin-top: 10px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: capitalize;

    }

}

.data{
    width: 75%;
    margin: auto;
    line-height: 2;
    text-align: center;
}

.status{
    position: absolute;
    display: flex;
    
    top:30px;
    right:40px;
    button{
        position: relative;
    }
    #p1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color:white;
        letter-spacing: 1px;
        margin-right:10px;
    }
}


#certi1{
    position: relative;
    display: none;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid;
    margin: 31px;
    .heading{
        text-align: center;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }
    .certi{
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        b{
            font-size: 20px;
        }
    }
}