<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/materialdesignicons.css">
    <title>Document</title>
    <link rel="stylesheet" href="css/home_page.css">
</head>
<body>
    <!-- <div class="section1">
        <div class="header">
            <div class="items">
                <div class="email">
                    <p>Email Id : <a>zone1@learningzone.com</a></p>
                </div>
                <div class="social">
                    <a><i class=" fa fa-facebook"></i></a>
                    <a><i class=" fa fa-twitter"></i></a>
                    <a><i class=" fa fa-instagram"></i></a>
                    <a><i class=" fa fa-linkedin"></i></a>
                    <a><i class=" fa fa-youtube"></i></a>
                </div>
            </div>  
        </div>
    </div> -->

    <div class="section2">
        <div class="menu" id="navbar">
            <div class="menu-container">
                <div class="logo">
                    <img src="img/logo.svg">
                    <h2>Learning Zone</h2>
                </div>
                <div class="menu-items">
                    <a href="/login">Login</a>
                    <a href="/signup">Signup</a>
                    <a href="#down1"  >Reviews</a>
                    <a href="#down2">Categories</a>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="section3">
        <div class="overlay">
            <div class="slider__1">
                <h2>THE GOAL OF EDUCATION </h2><br>
                <h1>Join The Bigest<br>
                Comunity Of CreativeSquad</h1><br>
            </div>
            <div class="slider_button">
                <div class="but1">
                    <a href="#down4">LEARN MORE</a>
                </div>
                <div class="but2">
                    <a href="#down3">VIEW COURSES</a>
                </div>
            </div>
            
        </div>
    </div>


    <div class="pop_courses"><a name="down3">
        <div class="part1">
            <h2>Popular Courses</h2>
            
            <p>
                Discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting
                projection off. Connection stimulated estimating excellence an to impression.
            </p>
        </div>
        <div class="pop_courses_1">
            
                <div class="part2" id="p1">
                    <div class="part2_1">
                        <img src="img/pc1.jpg">
                        <div class="price">
                            PRICE: FREE
                        </div>
                        <div class="info">
                            <div class="info_1">
                                <div class="dp">
                                    <img src="img/p1.jpg">
                                </div>
                                <div class="name">
                                    <a>JONATHOM KIYAM</a><br>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>4.9 (2,655)
                                </div>
                            </div>
                            <a class="head">Covers Big Data analysis</a><br>
                            <br>
                            <p>

                                Would day nor ask walls known. 
                                But preserved advantage are but and
                                certainty earnestly enjoyment.
                                
                            </p>
                            
                            <div class="bottom_info">
                                <ul>
                                    <li><i class="fa fa-user"></i> 6,690</li>
                                    <li><i class="fa fa-clock"></i> 16:00</li>
                                </ul>
                                <br>
                                <br>
                                <a>ENROLL </a>
                            </div>

                        </div>
                        
                    </div>
                </div>
            

        
            
                <div class="part2" id="p2">
                    <div class="part2_1">
                        <img src="img/pc2.jpg">
                        <div class="price">
                            PRICE: FREE
                        </div>
                        <div class="info">
                            <div class="info_1">
                                <div class="dp">
                                    <img src="img/p2.jpg">
                                </div>
                                <div class="name">
                                    <a>JONATHOM KIYAM</a><br>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>4.9 (2,655)
                                </div>
                            </div>
                            <a class="head">Covers Big Data analysis</a><br>
                            <br>
                            <p>

                                Would day nor ask walls known. 
                                But preserved advantage are but and
                                certainty earnestly enjoyment.
                                
                            </p>
                            
                            <div class="bottom_info">
                                <ul>
                                    <li><i class="fa fa-user"></i> 6,690</li>
                                    <li><i class="fa fa-clock"></i> 16:00</li>
                                </ul>
                                <br>
                                <br>
                                <a>ENROLL </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
        

        
            
                <div class="part2" id="p3">
                    <div class="part2_1">
                        <img src="img/pc3.jpg">
                        <div class="price">
                            PRICE: FREE
                        </div>
                        <div class="info">
                            <div class="info_1">
                                <div class="dp">
                                    <img src="img/p3.jpg">
                                </div>
                                <div class="name">
                                    <a>JONATHOM KIYAM</a><br>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>4.9 (2,655)
                                </div>
                            </div>
                            <a class="head">Covers Big Data analysis</a><br>
                            <br>
                            <p>

                                Would day nor ask walls known. 
                                But preserved advantage are but and
                                certainty earnestly enjoyment.
                                
                            </p>
                            
                            <div class="bottom_info">
                                <ul>
                                    <li><i class="fa fa-user"></i> 6,690</li>
                                    <li><i class="fa fa-clock"></i> 16:00</li>
                                </ul>
                                <br>
                                <br>
                                <a>ENROLL </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>




    <div class="count"> <a name="down4"></a>
        <div class="count_black">
            <div class="extra">
                <div class="part1">
                    <div class="part_inner">
                        <div class="icon"><i class="mdi mdi-android"></i></div>
                        <div class="no">10+</div>
                        <div class="name">Categories</div>
                    </div>
                </div>

                <div class="part1">
                    <div class="part_inner">
                        <div class="icon"><i class="mdi mdi-book-open"></i></div>
                        <div class="no">212</div>
                        <div class="name">BEST ADVISORS</div>
                    </div>
                </div>

                <div class="part1">
                    <div class="part_inner">
                        <div class="icon"><i class="mdi mdi-professional-hexagon"></i></div>
                        <div class="no">212</div>
                        <div class="name">STUDENTS ENROLLED</div>
                    </div>
                </div>

                <div class="part1">
                    <div class="part_inner">
                        <div class="icon"><i class="mdi mdi-laptop"></i></div>
                        <div class="no">212</div>
                        <div class="name">COURSES</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="top_cat" ><a name="down2"></a>
        <div class="part1">
            <h2>Top Categories</h2>
            
            <p>
                Discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting
                projection off. Connection stimulated estimating excellence an to impression.
            </p>
        </div>
        <div class="top_cat1">
            <div class="part2">
                <div class="part2_1" id="S1">
                    <i class="mdi mdi-cellphone-iphone"></i> 
                    <div class="part2_2">
                        <h4>Interactive Programming</h4>
                        <p>(1,226)Topics</p>

                    </div>

                </div>
            </div>
            <div class="part2">
                <div class="part2_1" id="S2" >
                    <i class="mdi mdi-cellphone-iphone"></i> 
                    <div class="part2_2">
                        <h4>Software Engineering</h4>
                        <p>(1,226)Topics</p>

                    </div>

                </div>
            </div>
            <div class="part2">
                <div class="part2_1" id="S3">
                    <i class="mdi mdi-cellphone-iphone"></i> 
                    <div class="part2_2">
                        <h4>Quantum Mechanics</h4>
                        <p>(1,226)Topics</p>

                    </div>

                </div>
            </div>
            <div class="part2">
                <div class="part2_1" id="S4">
                    <i class="mdi mdi-cellphone-iphone"></i> 
                    <div class="part2_2">
                        <h4>Software Engineering</h4>
                        <p>(1,226)Topics</p>

                    </div>

                </div>
            </div>
            <div class="part2">
                <div class="part2_1" id="S5">
                    <i class="mdi mdi-cellphone-iphone"></i> 
                    <div class="part2_2">
                        <h4>Preventing Dementia</h4>
                        <p>(1,226)Topics</p>

                    </div>

                </div>
            </div>
            <div class="part2" >
                <div class="part2_1" id="S6">
                    <i class="mdi mdi-cellphone-iphone"></i> 
                    <div class="part2_2">
                        <h4>Hidden Potential</h4>
                        <p>(1,226)Topics</p>

                    </div>
                   

                </div>
            </div>
            <div class="part2">
                <div class="part2_1" id="S7">
                    <i class="mdi mdi-cellphone-iphone"></i> 
                    <div class="part2_2">
                        <h4>Introduction Programming</h4>
                        <p>(1,226)Topics</p>

                    </div>

                </div>
            </div>
            <div class="part2">
                <div class="part2_1" id="S8">
                    <i class="mdi mdi-cellphone-iphone"></i> 
                    <div class="part2_2">
                        <h4>Software Engineering</h4>
                        <p>(1,226)Topics</p>

                    </div>

                </div>
            </div>
            

        </div>
    </div>

    <div class="review" ><a name="down1" ></a>
        <div class="heading">
                <div class="head">
                    <h2>Students Review</h2>
                </div>

                <div class="para">
                    <p>Able an hope of body. Any nay shyness article matters own removal nothing his forming.
                        Gay own additions education satisfied the perpetual.
                        If he cause manor happy. Without farther she exposed saw man led.
                        Along on happy could cease green oh.
                    </p>
                </div>
        </div>



        <div class="review_1">
            <div class="part">
                <div class="part_1">
                    <img src="img/r1.jpg">
                </div>
                <div class="part_2">
                    <p>
                        Procuring continued suspicion its ten.
                         Pursuit brother are had fifteen distant has.
                          Early had add equal china quiet visit. 
                          Appear an manner as no limits either praise.. 
                    </p>
                    <h4>Siddharth Kandola</h4>
                    <span>DEVELOPMENT STUDENT</span>
                </div>
            </div>

            <div class="part">
                <div class="part_1">
                    <img src="img/r2.jpg">
                </div>
                <div class="part_2">
                    <p>
                        Procuring continued suspicion its ten.
                         Pursuit brother are had fifteen distant has.
                          Early had add equal china quiet visit. 
                          Appear an manner as no limits either praise.. 
                    </p>
                    <h4>Harsh Tyagi</h4>
                    <span>DEVELOPMENT STUDENT</span>
                </div>
            </div>
        </div>
    </div>


</body>
</html>