<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   
    <div class="section1">
        <div class="error1">
            <p><%= error1 %></p>
        </div>

        <div class="section1-box">
            <div class="logo">
                <img src="img/logo.svg">
                <p>Learning Zone</p>
            </div>

            <div class="content">
                <div class="inner_box">

                    <div class="profile-pic" id="profile">
        
                    </div>
        
                    <div class="profile-data">
                        <div class="name">
                            <p><%= name %></p>
                        </div>
                        <div class="email">
                            <p><%= email %></p>
                        </div>
                        
                        <div class="course">
                            <p>Course completed :<p id="cc"></p></p>
                        </div>
                    </div>
        
                </div>
            </div>
           
    
    
            <div class="priority-set">
                <button class="button1">
                    Fill this form for better results
                </button>
            </div>
        </div>

        
    </div>

    

        <div class="priority-form">

            <div class="closing">
                <i class="fa fa-times" id="cross"></i>
            </div>

            <div class="info">
                <div class="heading">
                    Hey Please Select Your 2 Favoraties !
                </div>
                
                <div class="main-form">
                    <form class="prior" method="POST" action="/priority" >
                        <input type="checkbox" name="topic" value="Machine-Learning" class="single-check">
                        <label for="topic"> Machine-Learning</label><br>
                        <input type="checkbox" name="topic" value="Android" class="single-check">
                        <label for="topic">Android</label><br>
                        <input type="checkbox" name="topic" value="Deep-Learning" class="single-check">
                        <label for="topic"> Deep-Learning</label><br>
                        <input type="checkbox" name="topic" value="Web-App" class="single-check">
                        <label for="topic"> Web-App</label><br>
                        <input type="checkbox" name="topic" value="Finance" class="single-check">
                        <label for="topic">Finance</label><br>
                        <div class="sub-save">
                            <input type="submit" value="Save">
                        </div>
                       
                    </form>
                </div>


            </div>

            
        </div>

    
   
    <div class="section2">
        <div class="section2-box">
            <div class="heading">
                <h3>Recommanded Courses</h3>
            </div>

            <div class="course-box" id="cb">
                <!-- <div class="box2">
                    <div class="image-part">

                    </div>
                    <div class="name" id="rec-part">
                        <h2>data</h2>
                    </div>
                </div> -->

            </div>

            <div class="button2">
                <button id="b1">
                    <a href="/coursebook">Show More</a>
                </button>
            </div>

        </div>
    </div>


    <div class="section3">
        <div class="section3-box">
            <div class="heading">
                <h3>Enrolled Courses</h3>
            </div>

            <div class="course-box" id="cb2">
                <!-- <div class="box2">
                    <div class="image-part">

                    </div>
                    <div class="name" id="rec-part">
                        <h2>data</h2>
                    </div>
                </div> -->

            </div>
        </div>
    </div>


    <div class="section4">
        <div class="section4-box">
            <div class="heading">
                <h3>Completed Courses</h3>
            </div>

            <div class="course-box" id="cb3">
                <!-- <div class="box2">
                    <div class="image-part">

                    </div>
                    <div class="name" id="rec-part">
                        <h2>data</h2>
                    </div>
                </div> -->

            </div>
        </div>
    </div>

    
    <form method="POST" action="/logout" class="logout">
        <input type="submit" value="logout">
    </form>
       
    <div class="explore-button">
        
        
            <form method="GET" action="/coursebook" class="but3">
                <input type="submit" value="Explore">
            </form>
        
    </div>


    

</body>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
         $(document).ready(function(){
            let x=Math.floor((Math.random() * 7) + 1);
            let name="prof"+x;
            let src1="img/profile/"+name+".jpg";
            $( "#profile" ).prepend($('<img>',{id:'theImg',src:src1}));
            let course_name=new Array;
            let imgname=new Array;
            $.ajax({    //create an ajax request to display.php
                    type: "GET",
                    url: "/recommend",             
                    dataType: "json", 
                    // data:data1, //expect html to be returned                
                    success: function(response){                    
                        

                        response.forEach(element => {
                            course_name.push(element.Course);
                            imgname.push(element.imgname);
                        });

                        let i=0;
                        while(i<course_name.length){

                            let box=document.createElement("div");
                            box.setAttribute("class","box2");
                            let img_part=document.createElement("div");
                            img_part.setAttribute("class","img-part");
                            let image=document.createElement("img");
                            image.setAttribute("src","img/course/"+imgname[i]+".jpg");
                            img_part.appendChild(image);
                            box.appendChild(img_part);


                            let info=document.createElement("div");
                            info.setAttribute("class","name");


                            var txt3 = document.createElement("p");  // Create with DOM
                            txt3.innerHTML = course_name[i];
                            info.appendChild(txt3);
                            box.appendChild(info);
                            
                            let a=document.createElement("a"); 
                            a.setAttribute("href","/coursebook/"+course_name[i]);
                            a.appendChild(box);
                            
                            $("#cb").append(a);
                            i++;
                        }

                        //console.log(response[0].Course);
                        
                    }

                })

            $.ajax({    //create an ajax request to display.php
                type: "GET",
                url: "/enrol",             
                dataType: "json",

                success: function(res){
                    let course_name1=new Array;
                    let imgname1=new Array;
                    console.log(res)
                    res.forEach(element => {
                            course_name1.push(element.course);
                            imgname1.push(element.imgname);
                    });
                    let j=0;
                    while(j<course_name1.length){

                            let box=document.createElement("div");
                            box.setAttribute("class","box2");
                            let img_part=document.createElement("div");
                            img_part.setAttribute("class","img-part");
                            let image=document.createElement("img");
                            image.setAttribute("src","img/course/"+imgname1[j]+".jpg");
                            img_part.appendChild(image);
                            box.appendChild(img_part);


                            let info=document.createElement("div");
                            info.setAttribute("class","name");


                            var txt3 = document.createElement("p");  // Create with DOM
                            txt3.innerHTML = course_name1[j];
                            info.appendChild(txt3);
                            box.appendChild(info);

                            let a=document.createElement("a"); 
                            a.setAttribute("href","/coursebook/"+course_name1[j]);
                            a.appendChild(box);



                            $("#cb2").append(a);
                            j++;
                        }
                    
                }
            })

            $.ajax({    //create an ajax request to display.php
                type: "GET",
                url: "/completed",             
                dataType: "json",

                success: function(res){
                    let course_name1=new Array;
                    let imgname1=new Array;
                    console.log(res)
                    res.forEach(element => {
                            course_name1.push(element.course);
                            imgname1.push(element.imgname);
                    });
                    let j=0;
                    while(j<course_name1.length){

                            let box=document.createElement("div");
                            box.setAttribute("class","box2");
                            let img_part=document.createElement("div");
                            img_part.setAttribute("class","img-part");
                            let image=document.createElement("img");
                            image.setAttribute("src","img/course/"+imgname1[j]+".jpg");
                            img_part.appendChild(image);
                            box.appendChild(img_part);


                            let info=document.createElement("div");
                            info.setAttribute("class","name");


                            var txt3 = document.createElement("p");  // Create with DOM
                            txt3.innerHTML = course_name1[j];
                            info.appendChild(txt3);
                            box.appendChild(info);

                            let a=document.createElement("a"); 
                            a.setAttribute("href","/coursebook/"+course_name1[j]);
                            a.appendChild(box);



                            $("#cb3").append(a);
                            j++;
                        }
                    
                }
            })
            
            $.ajax({    //create an ajax request to display.php
                type: "GET",
                url: "/count",             
                dataType: "json",

                success: function(res){
                
                    document.getElementById('cc').innerText=res[0]["COUNT(course)"]
                }
            })
         })

         $(".button1").on("click", function(){
                $(".priority-form").css("display","block");
            });


            $("#cross").on("click", function(){
                $(".priority-form").css("display","none");
            });

            var limit = 2;
            $(".single-check").on('change', function(evt) {
                if($(this).siblings(':checked').length >= limit) {
                    this.checked = false;
                    console.log("hey")
                }
            // console.log($(this).siblings(':checked').length);
            });


        </script>




</html>